
{% extends 'base.html' %}

{% block title %}
    Список товаров
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr style="text-align: center">
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col">Осталось на складе</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}
        <tr style="text-align: center">
            <td>{{ product.name }} </td>
            <td>{{ product.price }} ₽</td>
            <td>{{ product.amount}}</td>
            <td><a type="submit" class="btn btn-primary" href="{{ product.get_absolute_url }}">Подробнее</a></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}