{% extends 'base.html' %}

{% block title %}
    Создать товар
{% endblock %}

{% block content %}

    <form action="{% url 'product_create_url' %}" method="post">
        {% csrf_token %}
        {% for field in form %}

            {{ field.label }}
            {{ field }}

            <div class="form-group" style="margin-bottom: 15px; margin-top: 10px">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>

        {% endfor %}

        <button type="submit" class="btn btn-primary">Добавить товар</button>

    </form>

{% endblock %}